@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('./fonts/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zen Antique';
  src: url('./fonts/ZenAntique-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hachi Maru Pop';
  src: url('./fonts/HachiMaruPop-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yuji Mai';
  src: url('./fonts/YujiMai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Reggae One';
  src: url('./fonts/ReggaeOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Zen Maru Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zen-maru-gothic-regular {
  font-family: 'Zen Maru Gothic', sans-serif !important;
}

.reggae-one-regular {
  font-family: 'Reggae One', sans-serif !important;
}

.zen-antique-regular {
  font-family: 'Zen Antique', sans-serif !important;
}

.hachi-maru-pop-regular {
  font-family: 'Hachi Maru Pop', sans-serif !important;
}

.yuji-mai-regular {
  font-family: 'Yuji Mai', serif !important;
}
